#table-body .ag-root-wrapper-body {
  height: fit-content;
}

.custom-header-label {
  width: 100%;
  /* height: 100%;
  padding-top: 5%; */
}

.ag-theme-alpine-dark .ag-cell,
.ag-theme-alpine-dark .ag-full-width-row .ag-cell-wrapper.ag-row-group {
  line-height: normal;
}
